.p-tooltip {
  .p-tooltip-arrow {
    border-top-color: var(--surface-900);
  }

  .p-tooltip-text {
    background-color: var(--surface-900);
  }
}


.phone-bg {
  background-repeat: no-repeat;
  background-size: cover;
}


::ng-deep .p-dock .p-dock-item {
  padding: 0;
}
