@import 'primeng/resources/themes/arya-green/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background: transparent;
}


* {
  user-select: none;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-left-center {
  position: absolute;;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.absolute-left-top {
  position: absolute;;
  top: 0;
  left: 0;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


p-slider {
  margin-top: 0.5rem;
}
